.searchBarDropdown {
    width: 30rem;
}
.resultsContainer{
    height:500px;
    overflow: auto;
}

.results{
    text-align: left;
    width: 100%;
    max-width: 360px;
    margin: 2px auto;
    background-color: white;
    /* border: 1px solid black;
    border-radius: 5px; */
}
.resultsCard{
    padding: 15px 15px;
}
.results img{
    float:left;
    width:25px;
    height:25px;
    border-radius: 50%;
    margin-right:2px;
}
.results h4{
    color:black;
    margin:0;

}
.results h5{
    color:gray;
    margin:0;
}