.post-card-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width:200px;
}

span {
    height: "200px";
    width: "400px";
    display: "block";
    background-image: url('https://cdn.dribbble.com/users/563824/screenshots/3633228/media/d876c7712d969c0656302b16b16af2cc.gif'); 
    background-position: "center";
    background-size: "cover";
    border: "1px solid red";
  };