.commentContainer {
    display: flex;
    width:100%;
    flex-direction: column;
    background-color: inherit;
    align-items: center;
    justify-content: center;
}

.comment {
    padding-left: 30px;
    width:95%;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 20px;
    border-bottom: 1px solid rgb(227, 226, 226);
}

.commentSection{
    width:95%;
    height:100%;
    max-height:200px;
    overflow:auto;
}

textarea {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    width: 97%;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    padding-left: 10px;
    resize: none;
    padding-top: 10px;
}

li {
    display: none;
    list-style: none;
  }
  li:nth-child(-n+4){
    display: list-item;
  }

.commentButton {
    font-size: 15px;
    font-weight: bold;
    background-color: dodgerblue;
    color: white;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 7px;
    margin-bottom: 1px;
    margin-top: 14px;
    cursor: pointer;
}

.commentButton:hover {
    background-color: rgb(4, 116, 177);
    color: white;
}