.postCardContainer {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: snow;
    margin-bottom: 1rem;
    text-decoration: none;
}

.card {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width:100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 4px grey;
    margin-bottom: .1px;
}

.cardHeader {
    justify-content: space-between;
    align-items: center;
    display: flex;
    max-width: 600px;
    width:100%;
}

.cardFooter{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width:100%;
}

img {
    max-width: 600px;
    max-height: 100%;
    width:100%;
    object-fit:cover;
}

span {
    font-size: 1rem;
    font-weight: bold;
    color: rgb(38,38,38);
    padding-left: 20px;
    padding-right: 10px;
}

.username {
    font-size: 1.5rem;
    padding-right: 30px;
    font-weight: bold;
    margin-bottom: 1rem;
    padding-left: 30px;
    padding-right: 10px;
    width: auto;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
p {
    padding-bottom: 13px;
}

.author {
    border-bottom: 1px solid rgb(227, 226, 226);
}
.delete {
    cursor: pointer;
    margin-right: 5px;
}
.edit {
    cursor: pointer;
    /* align to the right of right most item */
    align-self: right;
}

.modal{
    position:fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    overflow-y:auto;
    background-color: rgba(255,255,255,0.1);
    display:flex;
    align-items: center;
    justify-content: center;
}

.modalBody{
    width:500px;
    background-color: white;
}

.modal button{
    cursor: pointer;
}

.modal button:hover{
    background-color: rgb(4, 116, 177);
    color: white;
}