.chatHistoryContainer {
  padding: 50px 50px 50px 50px;
  position: absolute;
  text-decoration: none;
}

.chatHistoryTitle {
    font-size: 50px;
    padding-bottom: 90px;
    margin-bottom: 0;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.chatCard {
    padding: 50px 50px 50px 50px;
    font-size: 40px;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
    border: 1px solid #e0e0e0;
    box-shadow: #e0e0e0 0px 0px 10px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}