/* .messageContainer {
   padding-top: 40px;
} */
/* 
.messageContainer {
    position: absolute;
    padding: 50px 50px 50px 50px;
}

.messageContainer > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.messageText {
    width: 100%;
    height: 100%;
    padding: 40px 40px 40px 40px;
    font-size: 20px;
    border: 1px solid #e0e0e0;
    box-shadow: #e0e0e0 0px 0px 10px;
    border-radius: 5px;
    align-items: right;
    justify-content: right;
    text-align: right;
}
.messageSubmit > button {
    position: absolute;
    bottom: 0;
    
}

.messageSubmit {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
} */

/* .messageContainer{
    display: grid; 
    grid-template-columns: 100%; 
    grid-template-rows: 15% 75% 10%; 
    gap: 0px 0px; 
} */
.messageHeader{
    grid-area: 1 / 1 / 2 / 4;
}

.messageBody{
    grid-area: 2 / 1 / 3 / 4;
}

.messageFooter{
    grid-area: 3 / 1 / 4 / 4;
}