.navContainer {
    display: flex;
    height: 4rem;
    width:100%;
    border-bottom: 1px solid rgb(227, 226, 226);
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.home{
    padding-left: 100px;
    font-size: 30px;    
}

a {
    color: black;
  text-decoration: none;
  text-shadow: 0px .2px .3px grey;
}

a:hover {
    color: rgb(228, 220, 213);
    text-shadow: none;
}

.navContainer h2 {
    font-family: 'Dancing Script', cursive;
    text-shadow: 1px 1px 2px grey;
    text-underline-position: under;
    text-decoration-color: none;
}

.rightNav {
    padding-right: 90px;
    justify-content: space-between;
    align-items: center;
}

.navContainer i {
    justify-content: space-between;
    padding: 20px 20px 20px 5px;
    text-decoration: none;
    color: inherit;
    color: rgb(28, 31, 31);
    font-size:30px;
}

.navContainer input{
    border-radius:30px;
    padding: 5px 10px;
    width:100%;
    min-width: 100px;
}

@media screen and (max-width:1024px){
    .home{
        padding-left: 1px;
        font-size: 20px;    
    }   
    .navContainer i {
        padding: 10px 10px 10px 5px;
        font-size:20px;
    }
    .rightNav {
        padding-right: 10px;
    }
}

@media screen and (max-width:650px){
    .home{
        padding-left: 1px;
        font-size: 16px;    
    } 
    .navContainer i {
        padding: 8px 8px 8px 5px;
        font-size:15px;
    }
}