.navContainer {
    display: flex;
    height: 7.5rem;
    border-bottom: 1px solid rgb(227, 226, 226);
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: white;
    font-size: 30px;
}

h2 {
    font-family: 'Dancing Script', cursive;
    padding-left: 100px;
    text-shadow: 1px 1px 2px grey;
    color: rgb(28, 31, 31);
    text-underline-position: under;
    text-decoration-color: none;
}

.rightNav {
    padding-right: 90px;
    justify-content: space-between;
    align-items: center;
}

i {
    justify-content: space-between;
    padding: 20px 20px 20px 5px;
    text-decoration: none;
    color: inherit;
    color: rgb(28, 31, 31);
}